[Unit]
Description=clickhouse
Required=docker.service
After=docker.service

[Service]
ExecStartPre=-docker stop -t 10 ch18
ExecStartPre=-docker kill ch18
ExecStartPre=-docker rm ch18

ExecStart=docker run \
  --name ch18 \
  -p 8123:8123 \
  -v /home/scout/.local/opt/lib/clickhouse/data:/var/lib/clickhouse/data \
  -v /home/scout/.local/var/log/clickhouse-server:/var/log/clickhouse-server \
  -v /tmp:/tmp \
  ch
  
ExecStop=docker stop -t 10 ch18
StandardOutput=syslog
StandardError=syslog
TimeoutStartSec=0
Restart=always
RestartSec=5s
KillMode=none
