[Unit]
Description=mysql 5.6 
Required=docker.service
After=docker.service

[Service]
ExecStartPre=-mkdir /var/run/mysqld/
ExecStartPre=chown systemd-coredump:systemd-coredump -R /var/run/mysqld/
ExecStartPre=-docker stop -t 10 mysql56
ExecStartPre=-docker kill mysql56
ExecStartPre=-docker rm mysql56
ExecStartPre=docker pull mysql:5.6

#  info:    -v /home/scout/Documents/getboat/home/getboat/dump:/dump2 
#  check:   SHOW VARIABLES LIKE 'datadir'; 
#  check:   l /home/scout/.local/opt/lib/mysql

## Как включить general log:
#
#  * включаем general log в mysqld.cnf
#  * создаём файл general.log
#  * указываем права sudo chown systemd-coredump:systemd-coredump .local/usr/log/general.log
#  * перезапускаем контейнер

ExecStart=docker run \
  --name mysql56 \
  -p 3306:3306 \
  -e MYSQL_ROOT_PASSWORD=koi8rus \
  -v /home/scout/.local/opt/lib/mysql:/var/lib/mysql \
  -v /var/run/mysqld:/var/run/mysqld \
  -v /home/scout/.local/usr/log:/usr/log \
  -v /home/scout/Documents/paysale/dump:/dump/paysale \
  -v /home/scout/.local/etc/mysql/mysql.conf.d:/etc/mysql/mysql.conf.d \
  mysql:5.6
  
ExecStop=docker stop -t 10 mysql56
StandardOutput=syslog
StandardError=syslog
TimeoutStartSec=0
Restart=always
RestartSec=5s
KillMode=none
